@import "./variables.css";

.button {
    border-radius: 2px;
    font-weight: bold;
    font-size: var(--base-font-size);
}

.button:active {
    filter: brightness(80%);
}

.button__view-video {
    background: #3b3c3f;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    height: 43px;
    width: 130px;
    border: 0px;
    color: white;
}
.button__see-features {
    height: 43px;
    width: 130px;
    border: 1px solid #D1D1E4;
    color: #ADB4D2;
    font-size: var(--base-font-size);
    background-color: transparent;
    margin-bottom: 215px;
}
.button__read-more {
    background-color: #ffd7d7;
    border: 0px;
    color: #d43f3f;
    height: 45px;
    width: 115px;
}
.button__third-banner__get-started {
    height: 45px;
    width: 115px;
    background-color: var(--main-button-color);
    color: #3A79FF;
    border: 0px;
}
.button__fifth-banner__read-more {
    height: 45px;
    width: 115px;
    background-color: var(--main-button-color);
    color: #3a79ff;
    border:0px;
}
.button__add-to-your-boormarks {
    height: 45px;
    width: 210px;
    background-color: white;
    color: #a6b6da;
    border:0px;
}
.button__go-to-documentation {
    background-color: #e8ecf4;
    width: 195px;
    height: 45px;
    margin-left: 75px;
    border: 0px;
}