.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
    display: block;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    display: flex;
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.rel {
    position: relative;
}